<div class="container">

  <h2>New league</h2>
  <hr/>

  <% if flash[:notice] %>
      <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
      </div>
  <% end %>

  <%= render 'form' %>

</div>