<% content_for :title, "Settings" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>My settings</h2>
      <hr/>

      <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= render partial: 'form', locals: {f:f} %>

          <p>
            <b>Avatar</b><br/>
            To set or change your avatar, visit <a href="https://en.gravatar.com/" target="_blank">Gravatar</a>, create a profile and upload your image.
          </p>

          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-default btn-primary' %>
          </div>
      <% end %>

    </div>
  </div>
</div>