/* Prevent nav from overlapping rest of page */
body {
    padding-top: 50px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

/* Entries page */
input#quantity {
    width:30px;
    text-align:center;
}