# Intentionally not caring about security on keys for dev and test environments only!

development:
  secret_key_base: 96e5dd41180b77615edc4fae804a7cb93431ef93ad6093b165f92628a724546b05af3159d32c237c7d423925f9683d52bab2af3854434ba15a88d867e9ffa331

test:
  secret_key_base: 7dfe68db7e42c22cc6c6d58833660be80aed1de60cb28839762c3a43c67638c93220e7a3088b4baa8cb6fb3e7a23bbff664ec66111c31ac7100e5565e87f27bf

# Start caring about security here!

production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
