/* Prevent nav from overlapping rest of page */
body {
    padding-top:50px;
}


/* Entries page */
input#quantity {
    width:30px;
    text-align:center;
}

/* Standings page */
td {
    vertical-align: middle !important;
}

th.runs-header {
    text-align:center;
}

td.runs-cell {
    font-size:1.4em;
    font-weight:bold;
    text-align:center;
}

tr.winner-1 {
    background-color:gold !important;
    font-weight:bold;
}

tr.winner-2 {
    background-color:gray !important;
    font-weight:bold;
}

span.winner-text {
    font-size:0.8em;
    color:darkred;
}

span.winner-icon {
    margin-top:-3px;
    vertical-align: middle;
    color:darkred;
}

.right {
    text-align:right;
}

img.gravatar {
    height:30px;
}

span.new-hit {
    color:orangered;
}