<ul class="nav nav-tabs">
  <% current_user.leagues.each do |league| %>
    <li<% if league == @selected_league %> class="active"<% end %>>
      <%= link_to league.name, league_standings_path(league) %>
    </li>
  <% end %>
</ul>