<% if flash[:notice] %>
    <div class="container">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
<% end %>

<div class="jumbotron">
  <div class="container">
    <h1>Play ball!</h1>
    <p>Here's how our MLB runs pool works: You buy entries for $10 each. Each entry is randomly assigned an MLB team. After each game, the amount of runs each team scores is recorded. The first team to record runs 0 through 13 wins!</p>
    <% if user_signed_in? %>
        <p><%= link_to raw("View standings &raquo;"), standings_path, class: 'btn btn-primary btn-lg' %></p>
    <% else %>
        <p><%= link_to raw("Register now &raquo;"), new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Set it and forget it</h2>
      <p>Unlike fantasy sports, the runs pool doesn't require regular checking in order to win. You can check the site or receive emails with current standings, but it's totally up to you.</p>
    </div>
    <div class="col-md-4">
      <h2>Are we there yet?</h2>
      <p>We might have a winner in as few as 14 games... or it might take the entire 160-game season. Like a baseball game, no one knows how long this thing will go on for!</p>
    </div>
    <div class="col-md-4">
      <h2>It's easy</h2>
      <p>All you have to do is buy an entry and you've got a fair chance. No complicated team setup or baseball knowledge is required.</p>
    </div>
  </div>
  <hr/>
  <footer>
    <p>Contact <a href="mailto:dmadere@marathondata.com">Dan Madere</a> x199 with any questions</p>
  </footer>
</div>
