<div class="container">
  <h2>Rules</h2>
  <hr/>
  <ul>
    <li>Entries are $10 each. Limit 5 entries per person. Limit 30 entries for the whole pool.</li>
    <li>After 30 entries are sold, each entry is randomly assigned an MLB team and the game begins.</li>
    <li>The first entry with final run scores matching every number from 0 to 13 wins.</li>
    <li>First place takes 75% of the entry fees, second place takes 25%</li>
    <li>Prizes will be divided in the case of a tie</li>
    <li>If the regular season ends before we have a winner, the two highest scores will be selected as winners</li>
  </ul>
</div>