<div class="container">
  <h2>Rules</h2>
  <hr/>
  <ul>
    <li>Entries are $10 each.</li>
    <li>Each player can buy up to 5 entries.</li>
    <li>Each entry is randomly assigned an MLB team.</li>
    <li>When a regular season game ends, the runs are recorded for both teams.</li>
    <li>The first entry to earn runs for every number from 0 to 13 wins, as long as no tie is possible by other entries with fewer games played.</li>
    <li>If multiple entries win with the same number of games played, the prize will be split.</li>
    <li>First place takes 75% of the entry fees. Second place takes 25%.</li>
    <li>If no entries have won and the regular season ends, the entries will be sorted by highest scores then by fewest games played. The top two entries will win as 1st and 2nd. If multiple entries have the same winning score and games played, there will be a tie for that place and prize will be split.</li>
  </ul>
</div>